<div class="footer">
  <div class="container">
    <div class="row ">

      <div class="col-md-7">  
        <a href="/welcome"  style="color: #fff;"> Sasha marketing and coding solutions Report System</a>
      </div>

      <div class="col-md-5">  
        <p href="#"  style="color: #fff; margin-bottom: 0;">Created By Adariku Michael. | All rights Reserved &copy;</p>
      </div>
    </div>
  </div>
</div>