<br>
<br>

  <a href="/welcome" class="side-nav-item"><i class="icon-home2"></i> Home</a>

  <a href="/report/"  class="side-nav-item"><i class="icon-books"></i>Daily reports</a>
  
  
  <a href="/report/createReport" class="side-nav-item"><i class="icon-pen"></i> Create Report</a>
  
  <!-- <a href="/report/Consumables" class="side-nav-item"><i class="icon-tools"></i> Consumables</a> -->
  
  
  <a href="/welcome/about" class="side-nav-item"><i class="icon-star"></i>About us</a>
  
  <!-- <a class="side-nav-item" href="/notification"><i class="icon-bell2"></i>Notifications</a> -->
  <a class="side-nav-item" href="/welcome/profile"><i class="icon-user"></i>Profile</a>



  <a href="/auth/logout" class="side-nav-item"><i class="icon-wondering2"></i>Logout</a>
