<br>
<br>

  <a href="/welcome" class="side-nav-item"><i class="icon-home2"></i> Home</a>

  <a href="/report/"  class="side-nav-item"><i class="icon-books"></i>Daily reports</a>
  <a href="/records" class="side-nav-item"><i class="icon-calendar"></i> All Months</a>
  <!-- <a href="/report/Consumables" class="side-nav-item"><i class="icon-tools"></i> Consumables</a> -->
  
  <a href="/admin/user" class="side-nav-item"><i class="icon-user2"></i> Employees Info</a>
  <a href="/admin/register" class="side-nav-item"><i class="icon-plus"></i> Add Employee</a>
  
  <a href="/auth/logout" class="side-nav-item"><i class="icon-wondering2"></i>Logout</a>
