

  <div class="top-side">
    <div class="row ">
      <div class="col-md-6"> 
        <div class="brand-logo">
          <h3>SASHA</h3>
        </div>  
      </div>

      <div class="col-md-3" style="float: right;">  
   

        <div class="col-md-1">
          <a href="/welcome/profile"><%= name %></a>
        </div>

      </div>

    </div>
  </div>
