<br>
<br>
<br>
<div id="page">
  <div class="container-wrap">

     <div class="alert-top">
      <%- include ('./partials/messages') %>
    </div>

      <!-- top bar-->
      <%- include ('./partials/topbar') %>
      
      <div class="row">
          <!-- small nav side -->
          <div class=" col-md-2 nav-side">
            <div class="side-nav">
              <%- include('./partials/sidebarNav') %>
            </div>
          </div>

          <!-- big side -->
          <div class=" col-md-10 big-side">

              <!-- CONTENT -->
            <div class="row">
              <div class="row animate-box">
                <div class="col-md-6 col-md-offset-2 text-center fh5co-heading">
                  <br>
                  <br>
                  <br>
                  <h3 class="heading">Welcome to</h3>
                  <h2 class="heading">Sasha marketing and coding solutions</h2>
                  <p>
                    This is a report system for your daily production reports, this application has useful advantages and it 
                    core motive is to make your work-flow much more easier!
                  </p>
                </div>
              </div>
            </div>

      

          </div>

      </div>



      <%- include('./partials/footer') %>


  </div>
</div>
