<br>
<br>
<br>
<div id="page">
  <div class="container-wrap">

     <div class="alert-top">
      <%- include ('./partials/messages') %>
    </div>

      <!-- top bar-->
      <div class="top-side">
        <div class="row ">
          <div class="col-md-6"> 
            <div class="brand-logo">
              <h3>SASHA</h3>
            </div>  
          </div>

          <div class="col-md-3" style="float: right;">  
       

            <div class="col-md-1">
              <p><%= name %></p>
            </div>

          </div>

        </div>
      </div>

      
      <div class="row">
          <!-- small nav side -->
          <div class=" col-md-2 nav-side">
            <div class="side-nav">
              <%- include('./partials/sidebarNavAdmin') %>
            </div>
          </div>

          <!-- big side -->
          <div class=" col-md-10 big-side">

              <!-- CONTENT -->
            <div class="row">
              <div class="row animate-box">
                <div class="col-md-6 col-md-offset-2 text-center fh5co-heading">
                  <br>
                  <br>
                  <br>
                  <h3 class="heading">Records</h3>
                  <!-- <h2 class="heading">Sasha marketing and coding solutions</h2> -->
                
                  <div class="row">
                    <div class="col-md-3">
                      <a href="/records/january">
                        <p class="month-card">january</p>
                      </a>
                    </div>
                    <div class="col-md-3">
                      <a href="/records/february">
                        <p class="month-card">february</p>
                      </a>
                    </div>
                    <div class="col-md-3">
                      <a href="/records/march">
                        <p class="month-card">march</p>
                      </a>
                    </div>
                    <div class="col-md-3">
                      <a href="/records/april">
                        <p class="month-card">april</p>
                      </a>
                    </div>
                    <div class="col-md-3">
                      <a href="/records/may">
                        <p class="month-card">may</p>
                      </a>
                    </div>
                    <div class="col-md-3">
                      <a href="/records/june">
                        <p class="month-card">june</p>
                      </a>
                    </div>
                    <div class="col-md-3">
                      <a href="/records/july">
                        <p class="month-card">july</p>
                      </a>
                    </div>
                    <div class="col-md-3">
                      <a href="/records/august">
                        <p class="month-card">august</p>
                      </a>
                    </div>
                    <div class="col-md-3">
                      <a href="/records/september">
                        <p class="month-card">september</p>
                      </a>
                    </div>
                    <div class="col-md-3">
                      <a href="/records/october">
                        <p class="month-card">october</p>
                      </a>
                    </div>
                    <div class="col-md-3">
                      <a href="/records/november">
                        <p class="month-card">november</p>
                      </a>
                    </div>
                    <div class="col-md-3">
                      <a href="/records/december">
                        <p class="month-card">december</p>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>

      

          </div>

      </div>



      <%- include('./partials/footer') %>


  </div>
</div>
